body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background: linear-gradient(to right, #2e111c, #0056b3);
  color: white;
  padding:20px 0px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 10px 0 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.hero-section {
  background: linear-gradient(to right, #2e111c, #0056b3);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.hero-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-section button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-section button:hover {
  background-color: #380844;
  color: white;
  transform: scale(1.05);
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  background-color: white;
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}

.product-card p {
  margin: 0 15px 15px;
  font-size: 1em;
  color: #777;
}

.product-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.product-card button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer div a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero-section h2 {
    font-size: 1.5em;
  }
  .hero-section p {
    font-size: 1em;
  }
  .product-card {
    width: 90%;
  }
}